body {
    height: 100dvh;
    margin: 0;
    border: 0;
    padding: 0;
    justify-content: flex-start;
}

nav#tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--color-lighter);
}

div.tab {
    cursor: pointer;
    background-color: var(--color-police-dark);
}
div.tab * {
    color: var(--color-police);
}
div.tab.active {
    cursor: default;
    background-color: var(--color-background);
}
div.tab.active * {
    color: var(--color-foreground);
}

table {
    border-collapse: collapse;
}
thead {
    border-bottom: 2px solid var(--color-foreground);
}
tfoot {
    border-top: 2px solid var(--color-foreground);
}
tr:nth-child(even) td {
    background-color: var(--color-background);
}
td {
    text-align: center;
}

input#page {
    width: 50px;
    padding-left: 1px;
    text-align: center;
}
span#page-max {
    margin-left: 0;
}